@import "./styles.scss";

.project {
  padding: 0;
  margin: 24px;
  border: 2px solid $black;
  flex: 0 0 400px;
  transition: 0.25s all ease-in-out;

  @media screen and (max-width: $lg) {
    margin: 12px;
    flex: 0 0 350px;
  }
  @media screen and (max-width: $md) {
    flex: 0 0 500px;
  }
  @media screen and (max-width: $sm) {
    flex: 0 0 100%;
  }
  &:hover,
  &:active {
    box-shadow: $black 0px 0px 0px 1px inset, $secondary 10px 10px 0px -3px,
      $black 10px 10px;
    transform: translate(-10px, -10px);
  }

  .image {
    width: 100%;
    height: auto;
    transition: all 0.3s;
  }

  .project-copy {
    padding: 24px 24px 48px;
  }

  h4,
  h5 {
    font-family: $Sahar-Bold;
    margin-bottom: 6px;
    // margin-top: 24px;
  }

  p {
    font-family: $AllRounderGrotesk;
    font-size: 18px;
    margin-bottom: 48px;
    color: $dark-grey;

    @media screen and (max-width: $sm) {
      margin-bottom: 24px;
    }
  }
  ul {
    margin-bottom: 24px;

    li {
      font-size: 18px;
      font-family: $AllRounderGrotesk;
      color: $dark-grey;

      @media screen and (max-width: $xs) {
        font-size: 16px;
      }
    }
  }
}
