@import "./styles.scss";

.project {
  padding: 0;
  margin: 24px;
  border: 2px solid $black;
  //   height: fit-content;
  flex: 0 0 400px;
  // box-shadow: $black 0px 0px 0px 2px inset, #000000 10px 10px 0px -3px,
  //   $black 10px 10px;
  transition: 0.25s all ease-in-out;

  &:hover {
    box-shadow: $black 0px 0px 0px 1px inset, $secondary 10px 10px 0px -3px,
      $black 10px 10px;
    transform: translate(-10px, -10px);
  }

  .image {
    width: 100%;
    height: auto;
    transition: all 0.3s;
  }

  .project-copy {
    padding: 24px 24px 48px;
  }

  h4,
  h5 {
    font-family: $Sahar-Bold;
    margin-bottom: 6px;
    // margin-top: 24px;
  }

  p {
    font-family: $AllRounderGrotesk;
    font-size: 18px;
    margin-bottom: 48px;
    color: $dark-grey;
  }
  ul {
    margin-bottom: 24px;

    li {
      font-size: 18px;
      font-family: $AllRounderGrotesk;
      color: $dark-grey;
    }
  }
}
