@font-face {
  font-family: "Sahar-Bold";
  src: url("../data//fonts/sahar-bold.woff2") format("woff2"),
    url("../data//fonts/sahar-bold.woff") format("woff"),
    url("../data//fonts/sahar-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sahar-Bold-Italic";
  src: url("../data//fonts/sahar-bold-italic.woff2") format("woff2"),
    url("../data//fonts/sahar-bold-italic.woff") format("woff"),
    url("../data//fonts/sahar-bold-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Sahar-SemiBold";
  src: url("../data//fonts/sahar-semibold.woff2") format("woff2"),
    url("../data//fonts/sahar-semibold.woff") format("woff"),
    url("../data//fonts/sahar-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "Sahar-SemiBold-Italic";
  src: url("../data//fonts/sahar-semibold-italic.woff2") format("woff2"),
    url("../data//fonts/sahar-semibold-italic.woff") format("woff"),
    url("../data//fonts/sahar-semibold-italic.ttf") format("truetype");
}
@font-face {
  font-family: "AllRounderGrotesk";
  src: url("../data//fonts/AllrounderGrotesk-Regular.woff2") format("woff2"),
    url("../data//fonts/AllrounderGrotesk-Regular.woff") format("woff");
}
@font-face {
  font-family: "AllRounderGroteskItalic";
  src: url("../data//fonts/AllrounderGrotesk-RegularItalic.woff2")
      format("woff2"),
    url("../data//fonts/AllrounderGrotesk-RegularItalic.woff") format("woff");
}

$Sahar-Bold: "Sahar-Bold", sans-serif;
$Sahar-SemiBold: "Sahar-SemiBold", sans-serif;
$AllRounderGrotesk: "AllRounderGrotesk", sans-serif;

// COLORS
$white: #fcfefc;
$black: #151515;
$dark-blue: #19323c;
$blue-hero: #09b6f9;
$blue: #0a70ff;
$primary: #0066f5;

h1 {
  font-size: 48px;
  font-family: $Sahar-Bold;
  line-height: 1.5;
  margin-bottom: 24px;
}

h1.sub {
  font-family: $Sahar-SemiBold;
  margin-bottom: 24px;
  line-height: 1.3;
}

h2 {
  font-family: $Sahar-Bold;
  font-size: 40px;
}
h3 {
  font-family: $Sahar-Bold;
  font-size: 48px;
}

h4 {
  font-size: 32px;
  font-family: $AllRounderGrotesk;
}

h5 {
  font-size: 24px;
  font-family: $AllRounderGrotesk;
}
h6 {
  font-family: $Sahar-Bold;
  font-size: 21px;
}

body {
  background-color: $white;
  font-family: $AllRounderGrotesk;
  color: $black;
  transition: color 1s;
  line-height: 1.3;
}

body.dark {
  color: $white !important;
}
section .error {
  width: 100%;
  height: 100vh;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// .highlight:before {
//   content: "";
//   position: absolute;
//   left: -1%;
//   bottom: 5%;
//   height: 50%;
//   width: 100%;
//   z-index: 1;
//   opacity: 0.9;
//   // border-radius: 3px;
// }
// .highlight-blue:before {
//   background-color: $blue-hero;
// }

.section-heading {
  widows: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  h3 {
    font-family: $Sahar-Bold;
    $white-space: nowrap;
  }
}

#content {
  width: 100%;
  padding-top: 56px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  padding: 0 24px;
  max-width: 1200px;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 10;
  background-color: $blue;
}

#projects {
  // div.github {
  //   display: flex;
  //   justify-content: center;
  //   a {
  //     font-family: $Sahar-Bold;
  //     font-size: 32px;
  //     text-decoration: none;
  //     text-align: center;
  //     border-bottom-style: solid;
  //     border-bottom-width: 3px;
  //     border-bottom-color: inherit;
  //     color: inherit;
  //   }
  // }
  padding: 60px 0 0 0;

  .projects-container {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // column-gap: 48px;
    // row-gap: 48px;
    // margin-bottom: 48px;
    // padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .project {
      padding: 0 0 24px 0;
      margin: 12px 12px;
      border: 1px solid $black;
      height: 100%;
      flex: 0 0 45%;

      .image {
        width: 100%;
        height: 600;
        transition: all 0.3s;
      }

      .project-copy {
        padding: 0 24px;
        transition: color 1s;
      }

      h4 {
        font-family: $Sahar-Bold;
        margin-top: 24px;
      }

      p {
        font-family: $AllRounderGrotesk;
        font-size: 18px;
        margin-bottom: 12px;
      }
      ul {
        margin-bottom: 24px;

        li {
          font-size: 18px;
          font-family: $AllRounderGrotesk;
        }
      }
    }
  }
}
#projects .dark {
  color: $white;
}

div.project-copy .dark {
  color: $white;
}

#about {
  margin-bottom: 48px;
  padding-top: 24px;
  // max-height: 100vh;

  h2 {
    margin-bottom: 12px;
  }

  p {
    font-size: 21px;
    margin-bottom: 12px;
    line-height: 1.3;
    font-family: $AllRounderGrotesk;
  }
  .about-hero {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    div.my-photo,
    div.my-identity {
      width: 50%;
    }

    .my-photo {
      background-image: url("../data/images/me.jpeg");
      background-size: contain;
      background-position: top top;
      background-repeat: no-repeat;

      // height: 100vh;
      border-radius: 5px;
    }

    .my-identity {
      padding: 0 0 0 24px;

      // overflow: auto;
    }
  }
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;

  .skills-container {
    display: flex;
    width: 100%;
    margin-bottom: 48px;
    svg.icon {
      width: 100px;
      height: 100px;
      margin-bottom: 12px;
      padding: 0 12px;
    }
    // .icon [fill] {
    //   fill: $white !important ;
    // }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 860px;
    margin: 0 auto;
  }

  li {
    text-align: center;
    padding: 12px;
  }

  .max600 {
    max-width: 600px;
    margin-bottom: 12px;
  }
}

#all-posts {
  max-width: 750px;
  li {
    padding: 24px;
    a {
      text-decoration: none;
      color: inherit;
    }
    P {
      margin-bottom: 6px;
    }
  }

  h4 {
    font-family: $Sahar-Bold;
    margin-bottom: 12px;
  }
}

#blog-post {
  max-width: 750px;
}

footer {
  padding: 24px 24px 0 24px;
  width: 100%;
  background-color: $black;
  color: $white;
  z-index: 1;
  position: relative;

  .footer-copy {
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 48px;

    h2 {
      margin-right: 24px;
    }
    h5 {
      margin-bottom: 12px;
      font-family: $AllRounderGrotesk;
    }
    p {
      font-family: $AllRounderGrotesk;
      font-size: 24px;
    }

    a {
      font-family: $Sahar-Bold;
      color: $blue;
      // border-bottom: 2px solid $blue;
    }

    .footer-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 48px;
      h3 {
        font-size: 40px;
      }

      h4 {
        font-family: $AllRounderGrotesk;
      }
      img {
        width: 100px;
        margin-right: 24px;
      }
    }
  }

  .contact-me {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    img {
      padding-top: 24px;
      width: 50px;
      margin-right: 12px;
      color: $white;
    }
  }

  .footer-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    color: $white;
    padding-bottom: 5px;

    font-size: 12px;
    a {
      text-decoration: none;
      color: $white;
      // border-bottom: 1px $white solid;
      font-family: $AllRounderGrotesk;
    }
  }
}

@media all and (max-width: 996px) {
  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  #hero {
    padding-left: 50px;

    h1 {
      margin-bottom: 24px;
    }
  }

  #projects {
    .projects-container {
      grid-template-columns: 1fr;
      padding: 0 24px;
    }
  }
  #about {
    margin-bottom: 0;
    padding-bottom: 0;

    .about-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div.my-photo,
      div.my-identity {
        width: 100%;
      }

      .my-photo {
        position: relative;
        background-position: center;
        margin-bottom: 24px;
      }
      .about-body {
        margin-bottom: 12px;
      }

      .my-identity {
        padding: 0;
        margin-bottom: 0;
      }
    }
  }
  #skills h5 {
    max-width: 90%;
    text-align: center;
  }

  footer .footer-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin: 0 0 24px 0;
    }
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }
  div.color-changer {
    padding: 4px 12px;
    p {
      font-size: 12px;
    }
  }

  #hero {
    padding-left: 24px;
  }

  #projects {
    div.github a {
      font-size: 21px;
    }
    .projects-container {
      row-gap: 24px;
    }
  }

  #about {
    // padding-top: 0;

    .about-hero {
      .my-photo {
        background-size: cover;
        background-position: center top;
        height: 100vh;
      }
      .about-body {
        text-align: justify;
      }

      .my-identity {
        padding-left: 0;
      }
    }
  }

  #skills ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 480px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }

  #projects {
    .projects-container .project {
      p {
        font-size: 16px;
      }
      ul {
        li {
          font-size: 16px;
        }
      }
    }
    div.github a {
      font-size: 18px;
      white-space: nowrap;
    }
  }

  footer .footer-copy {
    h2 {
      font-size: 40px;
    }

    h5 {
      font-size: 21px;
    }

    p {
      font-size: 21px;
    }
    .footer-left {
      h3 {
        font-size: 24px;
      }
      img {
        margin-right: 12px;
      }
    }
  }

  #about p {
    font-size: 21px;
  }
}
