@import "./variables.scss";

a.link {
  text-decoration: none;
  color: $primary;

  &:hover,
  &:active {
    color: $secondary;
  }

  &:visited {
    color: $primary;
  }
}

h1 {
  font-size: 40px;
  font-family: $Sahar-Bold;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

h1.sub {
  font-family: $Sahar-SemiBold;
  margin-bottom: 21px;
  // line-height: 1.3;
  letter-spacing: -0.03em;
}

h2 {
  font-family: $Sahar-Bold;
  font-size: 40px;
}
h3 {
  font-family: $Sahar-Bold;
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-family: $AllRounderGrotesk;
}

h5 {
  font-size: 24px;
  font-family: $AllRounderGrotesk;
}
h6 {
  font-family: $Sahar-Bold;
  font-size: 21px;
}

body {
  background-color: $white;
  font-family: $AllRounderGrotesk;
  color: $black;
  transition: color 1s;
  line-height: 1.4;
}

p {
  font-size: 18px;
}

@media screen and (max-width: $md) {
  h1 {
    font-size: 32px;

    &.sub {
      font-size: 32px;
    }
  }
  p,
  h6 {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media screen and (max-width: $sm) {
  h1,
  h3 {
    font-size: 28px;
    &.sub {
      font-size: 28px;
    }
  }
}
@media screen and (max-width: $xs) {
  h1,
  h3 {
    font-size: 24px;
    &.sub {
      font-size: 24px;
    }
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 18px;
  }
}
