// $Headerfont
// $Bodyfont

// $xl
$lg: 768px;
// $md
// $sm
$md: 575px;

$black: #151515;
$dark-grey: #646464;
$med-grey: #c2c2c2;
$light-grey: #eeeeee;
$primary: #0066f5;
$secondary: #0ae0eb;
$white: #fcfefc;
// $main
// $accent
// $dark-grey
// $md-grey
// $light-grey
